{% extends 'base.html.twig' %}

{% block title %}Hello SuiteController!{% endblock %}

{% block body_name %}suites{% endblock %}

{% block body %}
    <h1>Liste de nos suites</h1>
    {% for suite in suites %}
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">{{ suite.name }}</h5>
                <p class="card-text">{{ suite.description | raw }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
