{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body_name %}reservation_success{% endblock %}

{% block body %}
    <h2>Réservation validée avec succès !</h2>
{% endblock %}
