{% extends 'base.html.twig' %}

{% block title %}Hypnos - Bienvenue !{% endblock %}

{% block body_name %}home{% endblock %}

{% block body %}
    <div class="container-fluid cta-homepage">
        <div class="row px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Trouver la suite de vos rêves<br>pour vos vacances</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Avec nos 7 établissements aux 4 coins de l'hexagone, vous trouverez forcément une suite pour votre
                    séjour.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-sm-center">
                    <a href="#" class="btn btn-primary btn-lg px-4 me-md-2">Voir nos hotels</a>
                    <a href="#" class="btn btn-secondary btn-lg px-4 me-md-2">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
