{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body_name %}registration{% endblock %}


{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Inscription</h1>

                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
