$primary-color: #3b61dd;
$secondary-color: #eba744;
$black: #2d3436;

@font-face {
  font-family: 'Tostada-Regular';
  src:url('/public/assets/font/Tostada-Regular.ttf.woff') format('woff'),
  url('/public/assets/font/Tostada-Regular.ttf.svg#Tostada-Regular') format('svg'),
  url('/public/assets/font/Tostada-Regular.ttf.eot'),
  url('/public/assets/font/Tostada-Regular.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Jost', sans-serif;
}

nav {
  border-radius: 0 0 7px 7px;

  height: 95px;

  .navbar-brand {
    //height: 100%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/

    font-family: 'Tostada-Regular';

    //width: 15%;
    //text-align: center;
    font-size: 1.75rem;
  }

  #navbarHypnos:last-child {
    .navbar-nav {
      gap: 15px;
    }
  }

  ul {

    li {
      display: flex;
      align-items: center;

      a {
        display: flex !important;
        align-items: center !important;

        font-size: 15px;
        letter-spacing: 1px;

        padding: 0 20px;

        color: $black !important;
      }
    }
  }

  #navbarHypnos {
    @media screen and (max-width: 992px) {
      width: 100vw;
      position: absolute;
      left: 0px;
      top: 90px;

      padding-right: 1rem !important;
      padding-left: 1rem !important;
    }
  }

  i.bi {
    font-size: 20px;
    margin-right: 9px;

    color: $black !important;
  }
}

.wrapper {
  margin-top: 75px;
}

#home {
  //margin-top: 56px;

  .wrapper {
    margin-top: -25px;
  }

  .cta-homepage {
    /*background-image: url('http://localhost:8000/assets/img/panoramic_homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;*/
    position: relative;

    color: white;

    padding: 1rem 0;

    .bg-image {
      position: absolute;

      width: 100%;
      height: 100%;

      z-index: -1;
      filter: blur(2px);

      background-image: url('http://localhost:8000/assets/img/panoramic_homepage.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .row {
      margin-top: 76px !important;
      padding-top: 0 !important;

      width: 100%;
    }
  }

  .hotels {
    justify-content: center;

    .card {
      width: 33.3333%;
      flex: none;
    }
  }
}

#login {

}

.btn {
  border-radius: 50px;

  letter-spacing: 2px;

  font-weight: 400;

  &:hover {
    filter: brightness(120%);
  }
}

.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.btn-secondary {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;

  color: white !important;
}
